<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.board.model.Board" alias="Board" />
		<typeAlias type="com.binmap.model.Binmap" alias="Binmap" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/yellowpee" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/board/model/BoardMapper.xml" />
		<mapper resource="com/binmap/model/BinmapMapper.xml" />
	</mappers>

</configuration>